.flow-list {
    width: 100%;
    background-color: var(--background-500-bg);
}

.flow-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0px 24px;
    flex-shrink: 0;
    background-color: var(--background-400-bg);
    color: var(--background-400-fg);
}

.flow-list__wrapper {
    overflow: auto;
    width: 100%;
}

.flow-list__content {
    white-space: nowrap;
    min-width: 100%;
    height: calc(100% - 48px);
    padding: 8px 0 8px 8px;
}
