.track {
    position: relative;
    border-top: 1px solid var(--background-200);
    border-bottom: 1px solid var(--background-200);
    background-color: var(--background-500);
    min-width: calc(100vw - 350px);
    margin-bottom: 8px;
}

.track__header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: block;
    height: 48px;
    background-color: var(--background-800);
    margin-right: 20px;
}

.track__channel {
    position: relative;
}

.track__channel-slots {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    background-color: var(--background-200);
}

.track__channel-ticks {
    position: relative;
    margin-right: 20px;
    pointer-events: none;
    z-index: 2;
}
