.track {
    position: relative;
    border-top: 1px solid var(--background-200);
    border-bottom: 1px solid var(--background-200);
    background-color: var(--background-500);
    margin-bottom: 8px;
    min-width: calc(100vw - 350px);
    color: var(--background-1000);
}

.track__header {
    display: block;
    height: 48px;
    background-color: var(--background-800);
    margin-right: 20px;
}

.track__channel-ticks {
    background-color: var(--background-800);
    margin-right: 20px;
}
