.generic-settings__content {
    display: flex;
    height: calc(100% - 56px);
    overflow: auto;
}

.generic-settings__left-panel {
    width: 250px;
    overflow: auto;
    padding: 8px;
    border-right: 1px solid var(--background-200);
}

.generic-settings__right-panel {
    position: relative;
    width: calc(100% - 250px);
    overflow: auto;
}

.generic-settings__section {
    width: 100%;
    padding: 20px;
}

.generic-settings__buttons {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--background-200);
    padding: 0 20px;
}

.generic-settings__spacer {
    flex-grow: 1;
}

.generic-settings__label-with-input {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.generic-settings__label {
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 160px;
    height: 42px;
    padding-right: 20px;
    z-index: 10;
}

.generic-settings__label .tag-copier {
    margin: 0 0 0 8px;
}

.generic-settings__label-with-input .ui-input {
    flex-grow: 1;
}

.generic-settings__input-with-img {
    display: flex;
    align-items: flex-start;
}

.generic-settings__input-with-img .ui-input {
    flex-grow: 1;
}

.generic-settings__example {
    margin-right: 20px;
    border: 1px solid var(--background-800);
}
