:root {
    --black: #252429;
    --white: #dddddd;

    --primary-bg: #33c1ff;
    --primary-fg: var(--black);

    --error: #ff6347;
}

.ui-light {
    --background-200: #dddddd;
    --foreground-200: var(--black);
    --background-300: #aaaaaa;
    --foreground-300: var(--black);
    --background-400: #bbbbbb;
    --foreground-400: var(--black);
    --background-500: #ffffff;
    --foreground-500: var(--black);
    --background-700: #aaaaaa;
    --foreground-700: var(--black);
    --background-800: #cccccc;
    --foreground-800: var(--black);
    --background-900: #dddddd;
    --foreground-900: var(--black);
    --background-1000: #888888;
    --foreground-1000: var(--black);
}

.ui-dark {
    --background-200: #252429;
    --foreground-200: var(--white);
    --background-500: #2d2c31;
    --foreground-500: var(--white);
    --background-600: #313035;
    --foreground-600: var(--white);
    --background-700: #353439;
    --foreground-700: var(--white);
    --background-800: #38383c;
    --foreground-800: var(--white);
    --background-900: #404043;
    --foreground-900: var(--white);
    --background-1000: #808080;
    --foreground-1000: var(--white);
}

.root {
    color: var(--foreground-500);
}

.root__title-bar {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: var(--background-500);
    border-bottom: 1px solid var(--background-200);
}

.root__tabs {
    flex-grow: 1;
}

.root__history {
    border-left: 1px solid var(--background-200);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.root__history-icon {
    margin-right: 12px;
}

.root__content {
    height: calc(100vh - 48px);
    width: 100vw;
    overflow: hidden;
    background-color: var(--background-500);
}
