.panel--time-signature__grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.panel--time-signature__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background-color: var(--background-700);
    padding: 15px;
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.panel--time-signature__group {
    line-height: 0.5em;
}

.panel--time-signature__cell:hover {
    background-color: var(--background-900);
}

.panel--time-signature__cell .text--music-symbol {
    line-height: 0.5em;
    padding: 0;
}
