.ui-drag-scroll {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  touch-action: none;
}

.ui-drag-scroll::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.ui-drag-scroll-x {
  touch-action: pan-y;
}

.ui-drag-scroll-y {
  touch-action: pan-x;
}

.ui-drag-scroll-x.ui-drag-scroll-y {
  touch-action: pan-y pan-x;
}

.ui-drag-scroll--dragging,
.ui-drag-scroll--dragging * {
  cursor: grab !important;
}
