.ui-icon {
    position: relative;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.ui-icon:before,
.ui-icon:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    height: calc(100% + 12px);
    width: calc(100% + 12px);
    border-radius: 50%;
}

/* blob */
.ui-icon:before {
    z-index: 0;
    background-color: currentColor;
    opacity: 0;
}

.ui-icon--hover:hover:before {
    opacity: 0.1;
}

/* outline */
.ui-icon::after {
    z-index: 2;
    border: 1px solid currentColor;
    visibility: hidden;
}

.ui-icon:focus-visible:after {
    visibility: visible;
}

.ui-icon--toggleable:before,
.ui-icon--toggleable:after {
    transition: border-radius 0.2s, background-color 0.2s, opacity 0.2s;
}

.ui-icon__svg {
    position: relative;
    z-index: 1;
}

.ui-icon__svg-path {
    fill: currentColor;
}

.ui-icon--toggled:before {
    border-radius: 3px;
    opacity: 1 !important;
    background-color: var(--primary-500-bg);
}

.ui-icon--toggled:after {
    border-radius: 3px;
}

.ui-icon--toggled .ui-icon__svg-path {
    fill: var(--primary-500-fg);
    transition: fill 0.2s;
}

.ui-icon--hover {
    cursor: pointer;
}

.ui-icon--disabled {
    opacity: 0.4;
    pointer-events: none;
}
