.meter {
    position: relative;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.meter__track {
    position: relative;
    height: 8px;
    width: 100%;
    border: 1px solid var(--background-200);
}

.meter__track-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-bg);
    transition: width 0.1s;
}
