.setup {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 64px;
}

.setup__middle {
    display: flex;
    flex-direction: column;
    width: calc(100% - 700px);
}

.setup__view {
    flex-grow: 1;
    max-height: calc(100vh - 208px);
    position: relative;
}

.setup__middle {
    border-left: solid 4px var(--background-400-bg);
    border-right: solid 4px var(--background-400-bg);
}
