.play {
    position: relative;
    height: 100%;
    width: 100%;
}

.play__top-panel {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid var(--background-200);
}

.play__flow-selector {
    display: flex;
    align-items: center;
    width: 350px;
    border-right: 1px solid var(--background-200);
}

.play__flow-selector .ui-select__container {
    height: 48px !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 4px 0 8px;
}

.play__flow-selector .ui-select__item {
    padding: 0 24px;
}

.play__flow-selector .ui-select {
    width: 100%;
}

.play__tools {
    padding: 0 20px;
    flex-grow: 1;
}

.play__tool {
    margin-right: 20px;
}

.play__content {
    position: relative;
    height: calc(100vh - 124px); /* panels + bottom-bar = (48px * 2) + 28px */
}

.play__left-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    min-height: 100%;
    padding: 8px 0 0 8px;
    z-index: 1;
    background-color: var(--background-500);
}

.play__right-panel {
    position: relative;
    padding: 8px 0 300px 350px;
    z-index: 0;
    min-height: 100%;
}

.play__bottom-panel {
    height: 28px;
    border-top: 1px solid var(--background-200);
}
