.instrument-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 16px;
    line-height: 1em;
    height: 48px;
    border-radius: 3px;
    background-color: var(--background-700-bg);
    color: var(--background-700-fg);
    margin-bottom: 8px;
}

.instrument-item--selected {
    background-color: var(--primary-600-bg);
    color: var(--primary-600-fg);
}

.instrument-item .ui-icon {
    display: none;
}

.instrument-item:hover .ui-icon {
    display: block;
}

.instrument-item.ui-sortable-item--sorting {
    transition: transform 0.2s;
}

.instrument-item.ui-sortable-item--active {
    z-index: 100;
    transition: transform 0s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.instrument-item__name {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    z-index: 1;
    flex-grow: 1;
}
