.player-list {
    height: 100%;
}

.player-list__label {
    flex-grow: 1;
}

.player-list__content {
    height: calc(100% - 48px);
    overflow: auto;
    white-space: nowrap;
    padding: 8px 8px 0 8px;
}
