.write {
  height: calc(100% - 28px);
  display: flex;
}

.write__bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  background-color: var(--background-500);
  border-top: 1px solid var(--background-200);
}

.write__bottom-panel-section {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--background-500);
  border-left: 1px solid var(--background-200);
  height: 100%;
}

.write__selection {
  font-size: 12px;
  padding: 0 8px;
}
