.ui-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    min-height: 48px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    /* text-transform: uppercase; */
    color: var(--background-200-fg);
    transition: color 0.2s;
}

.ui-tab--selected {
    transition: color 0.2s 0.1s;
    color: var(--primary-500-fg);
}

.ui-tab:focus-visible {
    outline: 1px solid currentColor;
}
