.layout-list {
    height: 100%;
    width: 350px;
    flex-shrink: 0;
}

.layout-list__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0px 24px;
    flex-shrink: 0;
    background-color: var(--background-200);
}

.layout-list__label {
    flex-grow: 1;
}
